@{
    ViewData["Title"] = "Create";
    var user = User.Identity.Name;
    var upn = user.Split('@')[0].Replace(".","");
}

<div class="text-container">

    @if (ViewBag.ResourceGroupRequest != null) {
    
        @if (ViewBag.ResourceGroupRequest == System.Net.HttpStatusCode.OK) {

            <h1 class="display-4">Resource Group Updated</h1>
        
        } else if (ViewBag.ResourceGroupRequest == System.Net.HttpStatusCode.Created) {

            <h1 class="display-4">Resource Group Created</h1>
        
        } else {

            <h1 class="display-4">Requested Failed Status @ViewBag.ResourceGroupRequest</h1>
        }

        <div class="form-group">
            <label for="">Resource Group Name</label>
            <input type="" readonly="readonly" class="form-control" value="@ViewBag.resourceGroupName"/>
        </div>

        <div class="form-group">
            <label for="">Request Status</label>
            <input type="" readonly="readonly" class="form-control" value="@ViewBag.ResourceGroupRequest"/>
        </div>

        <div class="form-group">
            <label for="">Assignment Status</label>
            <input type="" readonly="readonly" class="form-control" value="@ViewBag.AssignmentRequest"/>
            <small id="emailHelp" class="form-text text-muted">Conflict Status means the assignment was already present on the resource group.</small>
        </div>
        
        <div class="form-group">
            <label for="">User Name</label>
            <input type="" readonly="readonly" class="form-control" value="@ViewBag.UPN"/>
        </div>

        <div class="form-group">
            <label for="">User ObjectID</label>
            <input type="" readonly="readonly" class="form-control" value="@ViewBag.OID"/>
        </div>

        <div class="form-group">
            <label for="">Subscription Id</label>
            <input type="" readonly="readonly" class="form-control" value="@ViewBag.subscriptionId"/>
        </div>

        <div class="form-group">
            <label for="">Role Id</label>
            <input type="" readonly="readonly" class="form-control" value="@ViewBag.roleId"/>
        </div>

         <a target="_blank" href="@ViewBag.ResourceGroupUrl" class="btn btn-primary">View in Azure</a>
         <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back</a>
    }

</div>